@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Food recipes</p>
</div>

<div id="googleMapContainer" style="width: 500px; height: 500px">
</div>
@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@ViewData["ApiKey"]"></script>
    <script type="text/javascript">
        $.ajax({
            url: '/api/Maps/JsonAddressList',
            type: 'GET',
            success: function (data) {
                var addresses = [];
                $.each(data, function (index, item) {
                    var address = {};
                    address["id"] = item.id;
                    address["latitude"] = item.latitude;
                    address["longitude"] = item.longitude;
                    address["name"] = item.name;
                    addresses.push(address);
                })
                createMap(addresses);
            }
        });
</script>

    }